body {
  text-align: center;
  background-color: #F5C6A5;
  margin: 3px;
}

h1 {
  font-size: 5rem;
  color: #0A1931;
  font-family: "Arvo", cursive;
  text-shadow: 2.5px 0 #DA0463;

}

@keyframes example {
  from {background-color: #A2416B;}
  to {background-color: #FF7777;}
}

.animate{
  font-size: 2rem;
  color: #3D2C8D;
  animation-name: example;
  animation-duration: 5s;

}

footer {
  color: #852747;
  font-family: sans-serif;
}

.w {
background-image: url("images/crash.png");
}

.a {
background-image: url("images/kick.png");
}

.s {
background-image: url("images/snare.png");
}

.d {
background-image: url("images/tom1.png");
}

.j {
background-image: url("images/tom2.png");
}
.k {
background-image: url("images/tom3.png");
}

.l {
background-image: url("images/tom4.png");
}

.set {
  margin: 8% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #185ADB;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 7px solid #F38BA0;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #0A1931;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 10px;
  display: inline-block;
  width: 170px;
  height: 300px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
