.login-div{
    width:400px;
    margin: auto;
    margin-top:90px;
    border: 1px solid rgb(221, 221, 221);
    padding: 40px;
}
.title{
    color: rgb(137, 137, 255);
    width:fit-content;
    margin: auto;
    font-size: x-large;
    padding-bottom: 40px;
    font-weight: lighter;
}