.checkout__image {

    width: 100%;
    margin-bottom: 10px;
}

.checkout__div {

    background-color: white;

}

.checkout__structure {
    padding-left: 25px;
    padding-right: 25px;
}

.checkout__main {
    display: flex;
    height: max-content;
}

.checkout__title {
    padding-left: 20px;
    margin-bottom: 10px;
}