.home {
    /* The MAIN DIV */
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.home__productsRow {
    /* so that the products row is on top of the starting image */
    display: flex;
    position: relative;
    bottom: 25px;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__img {
    /* The home image */
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));

    /* the image must be like a background and have the cards over it */
    z-index: -1;
    margin-bottom: -110px;
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}