* {
    margin:0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: indianred;
}
.nav{
    display: flexbox;
    width: 100vw;
    font-size: 8vh;
    text-align: center;
    background:crimson;
    margin: 0px;
}
.container {
    position: relative;
    left: 12vw;
    background: linear-gradient(to right, rgb(221, 136, 136), rgb(189, 37, 37));
    padding: 1vh 1vw 1vh 1vw;
    text-align: center;
    margin: 10vh 10vw;
    border-radius: 5px;
    border: 0.5vh solid white;
    height: 60vh;
    width: max-content;
    }

button {
    transition: transform 0.1s;
    width: 10vw;
    height: 9vh;
    font-size: 7vh;
}
button:hover {
    background-color: pink;
    transform: translate(5px,5px);
    cursor: pointer;
}
#input {
    padding-left: 2vh;
    padding-right: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
    text-align: right;
    font-size: 8vh;
    color: gray;
}
#input:hover {
    cursor: pointer;
    background-color: rgb(214, 210, 205);
}
.row {
    padding: 2vh;
    display: grid;
    grid-template-columns: 12vw 12vw 12vw 12vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5vh;
}

#equal {
    background-color: rgb(75, 141, 226);
    width: 23vw;
    color: white;
}
#equal:hover {
    background-color: rgb(136, 190, 168);
}
#reset {
    width: 48vw;
    grid-column: 1/4 ;
    background-color: black;
    color: white;

}
#reset:hover {
    background-color: white;
    color: black;
}