
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>&copy Made with ❤️ by <a href="https://github.com/spandan1460" class="footer-link">Spandan Chakravarty</a></p>
  </div>
</div>
</body>
</html>
